<template>
    <body>
        <div class="confCotacao">
            <header class="menuSuperior">
                <nav>
                    <div></div>
                </nav>
            </header>

            <!-- Campos da tabela -->
            <div class="confsolicitacao">
                <section id="confirmacoes">
                    <h1 class="titulo">Confirmação da Cotação</h1>
                    <nav id="linha"></nav>
                    <p class="mensagem">Verifique os dados dos produtos solicitados antes de confirmar.</p>
                </section>

                <div class="tabela2">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="centro">PRODUTO</th>
                                <th scope="col" class="centro">QUANTIDADE</th>
                                <th scope="col" class="centro">VALOR</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td align=center>Produto 1</td>
                                <td align=center>Quantidade 1</td>
                                <td align=center>Valor 1</td>
                            </tr>

                            <tr>
                                <td align=center>Produto 2</td>
                                <td align=center>Quantidade 2</td>
                                <td align=center>Valor 2</td>
                            </tr>

                            <tr>
                                <td align=center>Produto 3</td>
                                <td align=center>Quantidade 3</td>
                                <td align=center>Valor 3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="botoes">
                    <button class="botConfCot" type="submit">Confirmar</button>
                    <button class="botConfCot" type="submit">Voltar</button>
                </div>
               
            </div>
        </div>
    </body>
</template>

<script>
<<<<<<< HEAD
import '@/assets/stylesheets/estilo.css';
=======
import '@/assets/stylesheets/conf_cotacao.css';
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f

export default {
  name: 'ConfCotacao',
};

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>