<template>
    <body>
        <div class="confCotacao">
            <header class="menuSuperior">
                <nav>
                    <div></div>
                </nav>
            </header>

            <!-- Campos da tabela  -->
            <div class="listsolicitacao">
                <section id="solicitacoes">
                    <h1 class="titulo">Lista de Solicitações</h1>
                    <nav id="linha"></nav>
                    <p class="mensagem">Gerencie o andamento das solicitacões dos seus pedidos.</p>
                </section>

                <div class="tabela3">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="centro" id="alinhamentoS">SOLICITAÇÃO</th>
                                <th scope="col" class="centro" id="alinhamentoData">DATA</th>
                                <th scope="col" class="centro">COTAÇÕES ENVIADAS</th>
                                <th scope="col" class="centro">COTAÇÕES RECEBIDAS</th>
                                <th scope="col" class="centro">DETALHES DO PEDIDO</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td align=center>Solicitação 1</td>
                                <td align=center>03/10/2018</td>
                                <td align=center>10</td>
                                <td align=center>10</td>
                                <td align=center>
                                    <div>
                                        <!-- Single button triggers two b-collapse components -->
                                        <b-btn v-b-toggle.collapseA.collapseB class="btn btn-light botaoDetalhes">Detalhes</b-btn>

                                        <!-- elements to collapse -->
                                        <b-collapse id="collapseA" class="mt-2">
                                            <b-card class="cardDetalhes">
                                                Vacina Aftosa
                                            </b-card>
                                        </b-collapse>
                                        <b-collapse id="collapseB" class="mt-2">
                                            <b-card class="cardDetalhes">
                                                Vacina Raiva
                                            </b-card>
                                        </b-collapse>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td align=center>Solicitação 2</td>
                                <td align=center>10/10/2018</td>
                                <td align=center>20</td>
                                <td align=center>22</td>
                                <td align=center>
                                    <div>
                                        <!-- Single button triggers two b-collapse components -->
                                        <b-btn v-b-toggle.collapseC.collapseD class="btn btn-light botaoDetalhes">Detalhes</b-btn>

                                        <!-- elements to collapse -->
                                        <b-collapse id="collapseC" class="mt-2">
                                            <b-card class="cardDetalhes">
                                                Vacina Aftosa   
                                            </b-card>
                                        </b-collapse>
                                        <b-collapse id="collapseD" class="mt-2">
                                            <b-card class="cardDetalhes">
                                                Vacina Raiva
                                            </b-card>
                                        </b-collapse>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td align=center>Solicitação 3</td>
                                <td align=center>17/10/2018</td>
                                <td align=center>30</td>
                                <td align=center>10</td>
                                <td align=center>
                                    <div>
                                        <!-- Single button triggers two b-collapse components -->
                                        <b-btn v-b-toggle.collapseE.collapseF class="btn btn-light botaoDetalhes">Detalhes</b-btn>

                                        <!-- elements to collapse -->
                                        <b-collapse id="collapseE" class="mt-2">
                                            <b-card class="cardDetalhes">
                                                Vacina Aftosa
                                            </b-card>
                                        </b-collapse>
                                        <b-collapse id="collapseF" class="mt-2">
                                            <b-card class="cardDetalhes">
                                                Vacina Raiva
                                            </b-card>
                                        </b-collapse>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </body>
</template>

<script>
<<<<<<< HEAD
import '@/assets/stylesheets/estilo.css';
=======
import '@/assets/stylesheets/lista_solicitacoes.css';
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f

export default {
  name: 'ListaSolicitacoes',
};

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>