<template>
    <body>
        <div class="MapaComparativo">
            <header class="menuSuperior">
                <nav>
                    <div></div>
                </nav>
            </header>

            <!-- Campos do formulário -->
            <div class="mapaComparativo">
                <section id="mapasComparativos">
                    <h1 class="titulo">Mapa Comparativo</h1>
                    <nav id="linha"></nav>
                </section>
            </div>

            <!-- Tabela de Visualização dos Menores Preços -->
            <div class="tabelaMenorPreco">
                <div class="tabelaMP">
                    <table class="table">
                        <thead class>
                            <tr id="trmenorpreco">
                                <th scope="col" class="centro" colspan="2">MENORES PREÇOS</th>
                            </tr>
                        </thead>

                        <thead>
                            <tr id="trfornecedor">
                                <th scope="col" class="centro">FORNECEDOR</th>
                                <th scope="col" class="centro">PRODUTO</th>
                            </tr>
                        </thead>

                        <tbody id="tbprodqnt">
                            <tr>
                                <td align=center>Produto 1</td>
                                <td align=center>Quantidade 1</td>
                            </tr>

                            <tr>
                                <td align=center>Produto 2</td>
                                <td align=center>Quantidade 2</td>
                            </tr>

                            <tr>
                                <td align=center>Produto 3</td>
                                <td align=center>Quantidade 3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Tabela de Produtos do Fornecedor -->
            <div class="tabelasFornecedores">
                <div class="tabela5">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="centro" colspan="2">FORNECEDOR A</th>
                            </tr>
                        </thead>

                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="centro">PRODUTO</th>
                                <th scope="col" class="centro">SOLICITAR</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td align=center>PRODUTO 1</td>
                                <td align=center><input class="check" type="checkbox" name="marcarFornecedor" value="MarcarFornecedor"></td>
                            </tr>

                            <tr>
                                <td align=center>PRODUTO 2</td>
                                <td align=center><input class="check" type="checkbox" name="marcarFornecedor" value="MarcarFornecedor"></td>
                            </tr>

                            <tr>
                                <td align=center>PRODUTO 3</td>
                            <td align=center><input class="check" type="checkbox" name="marcarFornecedor" value="MarcarFornecedor"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Tabela de Produtos do Fornecedor -->
                <div class="tabela5">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="centro" colspan="2">FORNECEDOR B</th>
                            </tr>
                        </thead>

                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="centro">PRODUTO</th>
                                <th scope="col" class="centro">SOLICITAR</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td align=center>PRODUTO 1</td>
                                <td align=center><input class="check" type="checkbox" name="marcarFornecedor" value="MarcarFornecedor"></td>
                            </tr>

                            <tr>
                                <td align=center>PRODUTO 2</td>
                                <td align=center><input class="check" type="checkbox" name="marcarFornecedor" value="MarcarFornecedor"></td>
                            </tr>

                            <tr>
                                <td align=center>PRODUTO 3</td>
                            <td align=center><input class="check" type="checkbox" name="marcarFornecedor" value="MarcarFornecedor"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <!-- Tabela de Produtos do Fornecedor -->
                <div class="tabela5">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="centro" colspan="2">FORNECEDOR C</th>
                            </tr>
                        </thead>

                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="centro">PRODUTO</th>
                                <th scope="col" class="centro">SOLICITAR</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td align=center>PRODUTO 1</td>
                                <td align=center><input class="check" type="checkbox" name="marcarFornecedor" value="MarcarFornecedor"></td>
                            </tr>

                            <tr>
                                <td align=center>PRODUTO 2</td>
                                <td align=center><input class="check" type="checkbox" name="marcarFornecedor" value="MarcarFornecedor"></td>
                            </tr>

                            <tr>
                                <td align=center>PRODUTO 3</td>
                            <td align=center><input class="check" type="checkbox" name="marcarFornecedor" value="MarcarFornecedor"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="botoes">
                <button class="botConfCot" type="submit">Finalizar solicitação</button>
            </div>

        </div>
    </body>
</template>

<script>
<<<<<<< HEAD
import '@/assets/stylesheets/estilo.css';
=======
import '@/assets/stylesheets/mapa_comparativo.css';
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f

export default {
  name: 'MapaComparativo',
};

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>