<template>
    <div class="selectGrupo">
        <body>
             <header class="menuSuperior">
                <nav>
                    <div></div>
                </nav>
            </header>

            <!--Campos da tabela-->
            <div class="selecionar">
                <section id="novoCadastro">
                        <h1 class="titulo">Selecionar Grupo</h1>
                        <nav id="linha"></nav>
                </section> 
                <section id="grupos">

                    <div>
                        <b-card-group deck
                                    class="mb-3">
                            <b-card class="text-center">
                                <div class="container">
                                    <img src="img_avatar.png" alt="Avatar" class="image">
                                    <div class="overlay">
                                        <div class="p">Insumos Veterinários</div>
                                    </div>
                                </div>
                            </b-card>

                            <b-card class="text-center">
                               <div class="container">
                                   <a href="#"> <img src="img_avatar.png" alt="Avatar" class="image"> </a>
                                    <div class="overlay">
                                        <div class="p">Grupo 2</div>
                                    </div>
                                </div>
                            </b-card>
                            <b-card class="text-center">
                               <div class="container">
                                    <img src="img_avatar.png" alt="Avatar" class="image">
                                    <div class="overlay">
                                        <div class="p">Grupo 3</div>
                                    </div>
                                </div>
                            </b-card>
                        </b-card-group>
                    </div>

                </section>
            </div>           
        </body> 
    </div>
    
</template>

<script>

<<<<<<< HEAD
import '@/assets/stylesheets/estilo.css';
=======
import '@/assets/stylesheets/select_grupo.css';
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f

export default {
  name: 'SelecionarGrupo',
};
</script>