<template>
    <body>
        <div class="confCotacao">
            <header class="menuSuperior">
                <nav>
                    <div></div>
                </nav>
            </header>

            <!-- Campos da tabela  -->
            <div class="selfornecedor">
                <section id="fornecedores">
<<<<<<< HEAD
                    <h1 class="titulo">Pesquisar Fornecedor</h1>
                    <nav id="linha"></nav>
                    <p class="mensagem">Selecione o fornecedor(s) desejável(s) para atender a sua solicitação.</p>
                </section>
                <section>
                <form action=" " method="post">
                    <input type="search" id="busca" name="q" placeholder="Buscar fornecedor pelo nome">
                    <button type="submit">Buscar</button>
                </form>
=======
                    <h1 class="titulo">Selecionar Fornecedor</h1>
                    <nav id="linha"></nav>
                    <p class="mensagem">Selecione o fornecedor(s) desejável(s) para atender a sua solicitação.</p>
                </section>
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f

                <div class="tabela">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
<<<<<<< HEAD
                                <th class="centro" scope="col"></th>
                                <th class="centro" scope="col">FORNECEDOR</th>
=======
                                <th class="centro" scope="col">FORNECEDOR</th>
                                <th class="centro" scope="col">SELEÇÃO DO FORNECEDOR</th>
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
<<<<<<< HEAD
                                <td align=center><input class="check" type="checkbox" name="fornecedor" value="Fornecedor"></td>
                                <td align=center>Fornecedor 1</td>
=======
                                <td align=center>Fornecedor 1</td>
                                <td align=center><input class="check" type="checkbox" name="fornecedor" value="Fornecedor"></td>
                            </tr>

                            <tr>
                                <td align=center>Fornecedor 2</td>
                                <td align=center><input class="check" type="checkbox" name="fornecedor" value="Fornecedor"></td>
                            </tr>

                            <tr>
                                <td align=center>Fornecedor 3</td>
                                <td align=center><input class="check" type="checkbox" name="fornecedor" value="Fornecedor"></td>
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="botoes">
                    <button class="botConfCot" type="submit">Enviar cotação</button>
                </div>
<<<<<<< HEAD
                </section>
=======
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f
               
            </div>
        </div>
    </body>
</template>

<script>
<<<<<<< HEAD
import '@/assets/stylesheets/estilo.css';
=======
import '@/assets/stylesheets/sel_fornecedor.css';
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f

export default {
  name: 'SelFornecedor',
};

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>