<template>
    <div class="solicitaCota">
        <body>
            <header class="menuSuperior">
                <nav>
                    <div></div>
                </nav>
             </header>

            <div class="solicitacao">
                <section id="novoCadastro">
                    <h1 class="titulo">Solicitar Cotação</h1>
                    <nav id="linha"></nav>
                </section>

                <section class="selecionarCat">
                    <form class="was-validated">
                        <div class="form-group">
                            <select class="custom-select" required>
                                <option value="">SELECIONE A CATEGORIA</option>
                                <option>LALA</option>
                            </select>
                            <div class="invalid-feedback">Categoria não selecionada</div>
                        </div>
                    </form>

                    <section>
                        <div class="tabelaCota">
                            <table class="table">
                                <thead class="thead-ligth">
                                    <tr>
                                    <th>SELEÇÃO</th>
                                    <th>PRODUTO</th>
                                    <th>QUANTIDADE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input class="check" type="checkbox" name="selecProdt" value="selecProdt"></td>
                                        <td>PRODUTO</td>
                                        <td><input type="text" name="quantidade" value="quantidade"></td>
                                    </tr>
                                    <tr>
                                        <td><input class="check" type="checkbox" name="selecProdt" value="selecProdt"></td>
                                        <td>PRODUTO</td>
                                        <td><input type="text" name="quantidade" value="quantidade"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div style="box-shadow: 3px 3px 3px #C1BFBF">
<<<<<<< HEAD
                        <button id="botaoNovoUsuario" type="submit">Listar Produtos Selecionados</button>
=======
                        <button id="botaoNovoUsuario" type="submit">ESCOLHER FORNECEDOR</button>
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f
                    </div>

                    </section>
                </section>

            </div>
        </body>
    </div>    
</template>

<script>
<<<<<<< HEAD
import '@/assets/stylesheets/estilo.css';
=======
import '@/assets/stylesheets/solicita_cota.css';
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f

export default {
  name: 'SolicitaCota',
};
</script>