<template>
    <body>
        <div class="confCotacao">
            <header class="menuSuperior">
                <nav>
                    <div></div>
                </nav>
            </header>

            <!-- Campos direcionados à confirmação da nova  -->
<<<<<<< HEAD
            <div class="estiloPaginas">
            <section id="novoTitulo">
                    <h1 class="titulo">Cadastro de Usuário</h1>
                    <nav id="linha"></nav>
                    <p class="mensagem">Informe os dados corretos sobre os produtos solicitados.</p>
            </section>
=======
            <div class="cotarsolicitacao">
                <section id="cotacoesolicitadas">
                    <h1 class="titulo">Cotar Solicitação</h1>
                    <nav id="linha"></nav>
                    <p class="mensagem">Informe os dados corretos sobre os produtos solicitados.</p>
                </section>

>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f
                <div class="tabela1">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th class="centro" scope="col" id="alinhamentoP">PRODUTOS</th>
                                <th class="centro" scope="col" id="alinhamentoQ">QUANTIDADE SOLICITADA</th>
                                <th class="centro" scope="col" id="alinhamentoN">NÃO TENHO NO ESTOQUE</th>
                                <th class="centro" scope="col" id="alinhamentoQD">QUANTIDADE DISPONÍVEL</th>
                                <th class="centro" scope="col" id="alinhamentoV">VALOR UNITÁRIO</th>
                                <th class="centro" scope="col" id="alinhamentoVT">VALOR TOTAL</th>
                                <th class="centro" scope="col" id="alinhamentoO">OBSERVAÇÕES</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td align=center>Produto A</td>
                                <td align=center>Quantidade Solicitada 1</td>
                                <td align=center><input type="checkbox" name="fornecedorEstoque" value="FornecedorEstoque"></td>
                                <td align=center><input type="text" class="qntDisponivel" name="qntDisponivel" placeholder="Quantidade disponível"></td>
                                <td align=center><input type="text" class="valorUnitario" name="valorUnitario" placeholder="Valor unitário"></td>
                                <td align=center>Valor Total 1</td>
                                <td align=center><textarea class="observacoes"></textarea></td>
                            </tr>

                            <tr>
                                <td align=center>Produto B</td>
                                <td align=center>Quantidade Solicitada 2</td>
                                <td align=center><input type="checkbox" name="fornecedorEstoque" value="FornecedorEstoque"></td>
                                <td align=center><input type="text" class="qntDisponivel" name="qntDisponivel" placeholder="Quantidade disponível"></td>
                                <td align=center><input type="text" class="valorUnitario" name="valorUnitario" placeholder="Valor unitário"></td>
                                <td align=center>Valor Total 2</td>
                                <td align=center><textarea class="observacoes"></textarea></td>
                            </tr>

                            <tr>
                                <td align=center>Produto C</td>
                                <td align=center>Quantidade Solicitada 3</td>
                                <td align=center><input type="checkbox" name="fornecedorEstoque" value="FornecedorEstoque"></td>
                                <td align=center><input type="text" class="qntDisponivel" name="qntDisponivel" placeholder="Quantidade disponível"></td>
                                <td align=center><input type="text" class="valorUnitario" name="valorUnitario" placeholder="Valor unitário"></td>
                                <td align=center>Valor Total 3</td>
                                <td align=center><textarea class="observacoes"></textarea></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <section id="valorTotal">
                    <h2 class="titulo">VALOR TOTAL</h2>
                    <nav id="linha"></nav>
                    <p>R$100,00</p>
                </section>

                <div class="botoes">
                    <button class="botConfCot" type="submit">Enviar cotação</button>
                </div>
                 
            </div>
        </div>
    </body>
</template>

<script>
<<<<<<< HEAD
import '@/assets/stylesheets/estilo.css';
=======
import '@/assets/stylesheets/cotar_solicitacao.css';
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f

export default {
  name: 'CotarSolicitacao',
};

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>