<template>
    <body>
        <div class="confCotacao">
            <header class="menuSuperior">
                <nav>
                    <div></div>
                </nav>
            </header>
            <div class="estiloPaginas">
                <section id="novoTitulo">
                        <h1 class="titulo">Cadastrar Dados</h1>
                        <nav id="linha"></nav>
                        <p class="dadosMsg">Importa de um arquivo excel os dados dos produtos.</p>
                </section>
                        <p>Deseja importar dados do Excel?</p>
                <fieldset>
                    <legend></legend>
                    <div>
                        <label for="avatar">Arquivo Excel:</label>
                        <input type="file"
                            id="avatar" name="avatar"
                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, .csv, application/vnd.ms-excel" />
                    
                    </div>

                </fieldset>


                <p>** Não enviar arquivos com mais de 10 mil linhas <br> 
                ** Enviar somente arquivos Excel
                </p>

                        <div class="botoes">
                            <button class="botConfCot" type="submit">Importar dados</button>
                        </div>

            </div>
        </div>
    </body>
</template>

<script>
import '@/assets/stylesheets/estilo.css';


export default {
  name: 'CadastrarDados',
};

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>