<template>
<div>
    <body>
    <header class="menuSuperior">
                    <nav>
                        <div></div>
                    </nav>
                </header>
                <div class="estiloPaginas">
                <section id="novoTitulo">
                        <h1 class="titulo">Edição de Classes</h1>
                        <nav id="linha"></nav>
                        <p class="dadosMsg">Edita as classes dos produtos cadastrados</p>
            
                </section>
                <section id="conteudo">
                <form class="was-validated">
                        <div class="form-group">
                            <select class="custom-select" required>
                                <option value="">SELECIONE A CATEGORIA</option>
                                <option>LALA</option>
                            </select>
                            <div class="invalid-feedback">Categoria não selecionada</div>
                        </div>
                    </form>
                    <form class="was-validated">
                        <div class="form-group">
                            <select class="custom-select" required>
                                <option value="">SELECIONE A SUBCATEGORIA</option>
                                <option>LALA2</option>
                            </select>
                            <div class="invalid-feedback">Subcategoria não selecionada</div>
                        </div>
                    </form>
                    <b-form-input id="inputLive"
                                v-model.trim="name"
                                type="text"
                                :state="nameState"
                                aria-describedby="inputLiveHelp inputLiveFeedback"
                                placeholder="Nome da classe"></b-form-input>

                                <div style=" padding-top:2%">
                        <button id="botaoNovoUsuario" type="submit">Salvar</button>
                    </div>
                </section>
                
                
            </div>
    </body>    
</div>
</template>

<script>
import '@/assets/stylesheets/estilo.css';
export default {}
</script>