<template>
<div>
    <body>
    <header class="menuSuperior">
                    <nav>
                        <div></div>
                    </nav>
                </header>
                <div class="estiloPaginas">
                <section id="novoTitulo">
                        <h1 class="titulo">Edição de Categorias</h1>
                        <nav id="linha"></nav>
                        <p class="dadosMsg">Edita as categorias dos produtos cadastrados</p>
            
                </section>
                <section id="conteudo">
                    <b-form-input id="inputLive"
                                v-model.trim="name"
                                type="text"
                                :state="nameState"
                                aria-describedby="inputLiveHelp inputLiveFeedback"
                                placeholder="Nome da Categoria"></b-form-input>
                    <div style=" padding-top:2%">
                        <button id="botaoNovoUsuario" type="submit">Salvar</button>
                    </div>
                </section>
                </div>
    </body>    
</div>
</template>

<script>
import '@/assets/stylesheets/estilo.css';
export default {}
</script>