<template>
<div>
    <body>
    <header class="menuSuperior">
                    <nav>
                        <div></div>
                    </nav>
                </header>
                <div class="estiloPaginas">
                <section id="novoTitulo">
                        <h1 class="titulo">Lista de Classes</h1>
                        <nav id="linha"></nav>
                        <p class="dadosMsg">Lista as classes dos produtos cadastrados</p>
            
                </section>
                <section id="conteudo">
                <div class="tabelaCSC">
                        <table class="table table-hover">
                            <thead class="thead-light">
                                <tr>
                                <th scope="col">CLASSES</th>
                                <th scope="col" id="editar">Editar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td scope="row">Nome da classe</td>
                                <td id="tdBotao"><button>Editar</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                </div>
    </body>    
</div>
</template>