<template>
<<<<<<< HEAD
<div>
<body>
 <header class="menuSuperior">
                <nav>
                    <div></div>
                </nav>
            </header>
            <div class="estiloPaginas">
            <section id="novoTitulo">
                    <h1 class="titulo">Lista de Produtos</h1>
                    <nav id="linha"></nav>
                    <p class="dadosMsg">Lista os produtos cadastrados</p>
           
            </section>
            <section id="conteudo">
               <div class="tabelaProduto">
                    <table class="table table-hover">
                        <thead class="thead-light">
                             <tr>
                            <th scope="col">Descrição simples</th>
                            <th scope="col">Descrição completa</th>
                            <th scope="col">NCM</th>
                            <th scope="col" id="editar">Editar</th>
                            <th scope="col" id="editar">Obsoletar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td scope="row">Descrição simples</td>
                            <td scope="row">Descrição completa</td>
                            <td scope="row">NCM</td>
                            <td id="tdBotao"><button>Editar</button></td>
                            <td id="tdBotao"><button>Obsoletar</button></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </section>
             </div>
</body>    
</div>
</template>
=======
    <div>

        <ul id="example-1">
  <li v-for="item in produtos">
    {{ item.name }}
  </li>
</ul>
        
    </div>
</template>

<script>
export default {
  name: "ListProduto",
  computed: {
    produtos() {
      return this.$store.state.produtos;
    }
  },
  mounted() {
    this.$store.dispatch("fetchProdutos", this.$store.state.token);
  }
};
</script>

<style scoped>
</style>
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f
