<template>
<<<<<<< HEAD
<div>
<body>
 <header class="menuSuperior">
                <nav>
                    <div></div>
                </nav>
            </header>
            <div class="estiloPaginas">
            <section id="novoTitulo">
                    <h1 class="titulo">Lista de Subcategorias</h1>
                    <nav id="linha"></nav>
                    <p class="dadosMsg">Lista as subcategorias dos produtos cadastrados</p>
           
            </section>
            <section id="conteudo">
               <div class="tabelaCSC">
                    <table class="table table-hover">
                        <thead class="thead-light">
                             <tr>
                            <th scope="col">SUBCATEGORIA</th>
                            <th scope="col" id="editar">Editar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td scope="row">Nome da subcategoria</td>
                            <td  id="tdBotao"><button>Editar</button></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </section>
             </div>
</body>    
</div>
</template>
=======
    <div>

        <ul id="example-1">
  <li v-for="item in categorias">
    {{ item.name }}
  </li>
</ul>
        
    </div>
</template>

<script>
export default {
  name: "ListCategoria",
  computed: {
    categorias() {
      return this.$store.state.categorias;
    }
  },
  mounted() {
    this.$store.dispatch("fetchCategorias", this.$store.state.token);
  }
};
</script>

<style scoped>
</style>
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f
