<template>
    <div class="cadUsuario">
        <body>
            <header class="menuSuperior">
                <nav>
                    <div></div>
                </nav>
            </header>

            <!--Campos do Formulário-->
<<<<<<< HEAD
            <div class="estiloPaginas">
            <section id="novoTitulo">
                    <h1 class="titulo">Cadastro de Usuário</h1>
                    <nav id="linha"></nav>
                    <p class="dadosMsg">Cadastre-se seu perfil no sistema</p>
            </section>


            <section id="conteudo">
=======
            <div class="cadastroU">
            <section id="novoCadastroU">
                    <h1 class="tituloU">Cadastro de Usuário</h1>
                    <nav id="linhaU"></nav>
            </section>
            <section id="camposFormulario">
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f
                <section id="tipo">
                    <h3 >Tipos de usuários</h3>
                </section>
                <section id="fc">
                    <div class="dividir">
                        <div>
                            <input type="checkbox" id="checkFornecedor" v-on:click="tipoUsuario()" >Fornecedor
                            <input type="checkbox" id="checkSolicitante" v-on:click="tipoUsuario()">Solicitante
                        </div>
                    <div id="esquerdado"><!--<h3>Fornecedor/Comprador</h3>--></div>
                    </div>
                </section>

                <section id="dadosCdastrais">
                    <div>
                        <div><h3>Dados Cadastrais do Usuário</h3></div>
                        <div>
                            <b-form-input id="inputLive"
                                v-model.trim="name"
                                type="text"
                                :state="nameState"
                                aria-describedby="inputLiveHelp inputLiveFeedback"
                                placeholder="Nome"></b-form-input>
                            <b-form-invalid-feedback id="inputLiveFeedback">
      <!-- This will only be shown if the preceeding input has an invalid state -->
                            O nome precisa ter no mínimo 4 letras.
                            </b-form-invalid-feedback>
                                <b-form-input id="inputLive"
                                v-model.trim="sobrenome"
                                type="text"
                                :state="sobrenomeState"
                                aria-describedby="inputLiveHelp inputLiveFeedback"
                                placeholder="Sobrenome"></b-form-input>
                            <b-form-invalid-feedback id="inputLiveFeedback2">
      <!-- This will only be shown if the preceeding input has an invalid state -->
                            O sobrenome precisa ter no mínimo 3 letras.
                            </b-form-invalid-feedback>
                                <b-form-input id="inputLive"
                                v-model.trim="cpf"
                                type="text"
                                :state="cpfState"
                                aria-describedby="inputLiveHelp inputLiveFeedback"
                                placeholder="CPF"></b-form-input>
                            <b-form-invalid-feedback id="inputLiveFeedback3">
      <!-- This will only be shown if the preceeding input has an invalid state -->
                            Apenas números.
                            </b-form-invalid-feedback>
<<<<<<< HEAD
                            <div class="dividir">
                            <p>Você representa uma Pessoa JurÍdica?</p>
                            <input type="checkbox" id="checkPessoaJuridica" v-on:click="pJuridica()" >Sim
                            </div>
                            <div id="pj" style="display:none">
                                <b-form-input id="inputLive"
                                    v-model.trim="cpf"
                                    type="text"
                                    :state="cpfState"
                                    aria-describedby="inputLiveHelp inputLiveFeedback"
                                    placeholder="CNPJ"></b-form-input>
                                <b-form-invalid-feedback id="inputLiveFeedback3">
        <!-- This will only be shown if the preceeding input has an invalid state -->
                                Apenas números.
                                </b-form-invalid-feedback>
                        </div>
=======
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f
                        </div>
                    </div>
                </section>

                <section id="enderecoSolicitante" style="display:none">
                            
                    <div><h3>Endereço de Cobrança</h3></div>
                            <div class="dividir">
                                <div >
                                    <form>
                                        <div class="camposdoform">
                                        <label for="inputRua" ></label>
                                        <input type="text" id="inputRua" name= rua placeholder="Rua">
                                        </div>
                                        <div class="camposdoform">
                                        <label for="inputBairro" ></label>
                                        <input type="text" id="inputBairro" name= bairro placeholder="Bairro">
                                        </div>
                                        <label for="inputComplemento"></label>
                                        <input type="text" id="inputComplemento" name= complemento placeholder="Complemento">
                                    </form>
                                </div>
                            

                                <div id="maisEsquerda">
                                    <form>
                                        <div class="camposdoform">
                                        <label for="inputCep"></label>
                                        <input type="text" id="inputCEP" name= complemento placeholder="CEP">
                                        </div>
                                        <div class="camposdoform">
                                        <label for="inputEstado"></label>
                                        <select>
                                            <option>Estado</option>
                                        </select>
                                        </div>
                                        
                                    </form>

                                    <form>
                                        <label for="inputCidade"></label>
                                        <select>
                                            <option>Cidade</option>                                            
                                        </select>
                                    </form>
                                </div>
                            </div>
                        <div><h3>Endereço de Entrega</h3></div>
                            <div class="dividir">
                                <div >
                                    <form>
                                        <div class="camposdoform">
                                        <label for="inputRua" ></label>
                                        <input type="text" id="inputRua" name= rua placeholder="Rua">
                                        </div>
                                        <div class="camposdoform">
                                        <label for="inputBairro" ></label>
                                        <input type="text" id="inputBairro" name= bairro placeholder="Bairro">
                                        </div>
                                        <label for="inputComplemento"></label>
                                        <input type="text" id="inputComplemento" name= complemento placeholder="Complemento">
                                    </form>
                                </div>
                            

                                <div id="maisEsquerda">
                                    <form>
                                        <div class="camposdoform">
                                        <label  for="inputCep"></label>
                                        <input  type="text" id="inputCEP" name= complemento placeholder="CEP">
                                        </div>
                                        <div class="camposdoform">
                                            <label for="inputEstado"></label>
                                            <select>
                                                 <option>Estado</option>
                                            </select>
                                        </div>
                                    </form>

                                    <form>
                                        
                                            <label for="inputCidade"></label>
                                            <select>
                                                <option>Cidade</option>                                            
                                            </select>
                                        
                                    </form>
                                </div>
                            </div>
                            <div class="dividir" style="margin-top: 3%;">
                                <h4>Caso necessite adicionar outro endereço de entrega, clique no botão ao lado.</h4>
                                <button id="btnNovoEnd">+</button>
                            </div>
                </section>

                <section id="dadosInstituicao" style="display:none">

                     <div>
                        <div><h3>Dados da Instituição</h3></div>
                        <div>
                            <b-form-input id="inputLive"
                                v-model.trim="name"
                                type="text"
                                :state="nameState"
                                aria-describedby="inputLiveHelp inputLiveFeedback"
                                placeholder="Nome"></b-form-input>
                            <b-form-invalid-feedback id="inputLiveFeedback">
      <!-- This will only be shown if the preceeding input has an invalid state -->
                            O nome precisa ter no mínimo 4 letras.
                            </b-form-invalid-feedback>
                                <b-form-input id="inputLive"
                                v-model.trim="sobrenome"
                                type="text"
                                :state="sobrenomeState"
                                aria-describedby="inputLiveHelp inputLiveFeedback"
                                placeholder="Sobrenome"></b-form-input>
                            <b-form-invalid-feedback id="inputLiveFeedback2">
      <!-- This will only be shown if the preceeding input has an invalid state -->
                            O sobrenome precisa ter no mínimo 3 letras.
                            </b-form-invalid-feedback>
                                <b-form-input id="inputLive"
                                v-model.trim="cpf"
                                type="text"
                                :state="cpfState"
                                aria-describedby="inputLiveHelp inputLiveFeedback"
                                placeholder="CPF"></b-form-input>
                            <b-form-invalid-feedback id="inputLiveFeedback3">
      <!-- This will only be shown if the preceeding input has an invalid state -->
                            Apenas números.
                            </b-form-invalid-feedback>
                        </div>
                    </div>

                            
                    <div><h3>Endereço da Instuição</h3></div>
                            <div class="dividir">
                                <div >
                                    <form>
                                        <div class="camposdoform">
                                        <label for="inputRua" ></label>
                                        <input type="text" id="inputRua" name= rua placeholder="Rua">
                                        </div>
                                        <div class="camposdoform">
                                        <label for="inputBairro" ></label>
                                        <input type="text" id="inputBairro" name= bairro placeholder="Bairro">
                                        </div>
                                        <label for="inputComplemento"></label>
                                        <input type="text" id="inputComplemento" name= complemento placeholder="Complemento">
                                    </form>
                                </div>
                            

                                <div id="maisEsquerda">
                                    <form>
                                        <div class="camposdoform">
                                        <label for="inputCep"></label>
                                        <input type="text" id="inputCEP" name= complemento placeholder="CEP">
                                        </div>
                                        <div class="camposdoform">
                                        <label for="inputEstado"></label>
                                        <select>
                                            <option>Estado</option>
                                        </select>
                                        </div>
                                        
                                    </form>

                                    <form>
                                        <label for="inputCidade"></label>
                                        <select>
                                            <option>Cidade</option>                                            
                                        </select>
                                    </form>
                                </div>
                            </div>
                            
                </section>

                    <section id="emailSenha">
                            <div>
                                <h3>Email</h3>
                                <form>
                                    <label for="inputEmail"></label>
                                    <input type="email" id="inputEmail" name= email placeholder="Email">
                                </form>
                            </div>
                        <div class="dividir">
                            <div>
                                <h3>Senha</h3>
                                    <form>
                                        <label for="inputSenha"></label>
                                        <input type="text" id="inputSenha" name= senha placeholder="Senha">
                                    </form>                            
                            </div>
                            <div id="maisEsquerda">
                                <h3>Confirmar Senha</h3>
                                <form>
                                    <label for="inputSenha"></label>
                                    <input type="password" id="inputSenha" name= senha placeholder="Senha">
                                </form>                            
                            </div>
                        </div>
                    </section>
                    <div style="box-shadow: 3px 3px 3px #C1BFBF">
<<<<<<< HEAD
                        <router-link to="/">
                        <button id="botaoNovoUsuario" type="submit" >Cadastrar</button>
                        </router-link>
=======
                        <button id="botaoNovoUsuario" type="submit">Cadastrar</button>
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f
                    </div>
                   

            </section>

           
                
            </div>

        </body>
    </div>  
      
</template>

<script>

<<<<<<< HEAD
import '@/assets/stylesheets/estilo.css';
=======
import '@/assets/stylesheets/cad_usuario.css';
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f

export default {
    computed: {
        nameState () {
        return this.name.length > 2 ? true : false
        },
        sobrenomeState(){
        return this.sobrenome.length > 3 ? true : false
        },
        cpfState(){
        return this.cpf.length > 10 ? true : false
        }
    },
    data (){
        return{
            name: '',
            sobrenome: '',
            cpf: ''
        }
    },
    methods: {
    tipoUsuario(){
    var checkFornecedor = document.getElementById("checkFornecedor");
    var checkSolicitante = document.getElementById("checkSolicitante");
    var section1 = document.getElementById("dadosInstituicao");
    var section2 = document.getElementById("enderecoSolicitante");
    
    if (checkFornecedor.checked ) {
        section1.style.display = "block";
        console.log("escolheu 'fornecedor'");
    } else if (checkFornecedor.checked == false){
        section1.style.display = "none";
    };

    if (checkSolicitante.checked ) {
        section2.style.display = "block";
        console.log("escolheu 'solicitante'");
    } else {
        section2.style.display = "none";
    };
<<<<<<< HEAD
    },
    
    pJuridica(){
     var checkPessoaJuridica = document.getElementById("checkPessoaJuridica");   
     var campoPJ = document.getElementById("pj");
     if (checkPessoaJuridica.checked ) {
        campoPJ.style.display = "block";
        console.log("é uma pessoa juridica");
    } else {
        campoPJ.style.display = "none";
    };
    }
    }
=======
    }}
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f
   
}

    
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>