<template>
    <body>
        <div class="Home">
<<<<<<< HEAD
            <header class="menuSuperior1">
=======
            <header class="menuSuperior">
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f
                <nav>
                    <div></div>
                </nav>
            </header>

            <div class="envolveTopo"></div>
                <b-jumbotron class="jumbotron">
                    <template slot="header">
                        <img src="@/assets/jiros.svg" class="img" alt="LogoJiros">
                    </template>
                    <template slot="lead">
<<<<<<< HEAD
                        <h3>Nome do usuário</h3>
=======
                        <h3>Nome do fornecedor</h3>
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f
                        <h4>Bem vindo a plataforma digital do agronegócio</h4>
                    </template>
                    <hr class="my-4">
                        <p>
                            Qual a sua necessidade atual?
                        </p>
                        <div class="botoes">
<<<<<<< HEAD
                            <router-link to="/cotacoes/solicitar/solicitarCotacao">
                            <b-btn variant="light" href="#" class="acoes">Solicitar produtos</b-btn>
                            </router-link>
                            <router-link to="/cotacoes/realizar/cotarSolicitacao">
                            <b-btn variant="light" href="#" class="acoes">Cotar produtos</b-btn>
                            </router-link>
=======
                            <b-btn variant="light" href="#" class="acoes">Solicitar produtos</b-btn>
                            <b-btn variant="light" href="#" class="acoes">Cotar produtos</b-btn>
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f
                        </div>
                </b-jumbotron>
            <div class="envolveBaixo"></div>

        </div>
    </body>
</template>

<script>
<<<<<<< HEAD
import '@/assets/stylesheets/estilo.css';
=======
import '@/assets/stylesheets/home.css';
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f

export default {
  name: 'Home',
};

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>