<template>
  <div class="login">
    
    <body>

      <div id=camposlogin>
      <img src="@/assets/neloree.jpg" id="loginBackground">

      <div id="campos">
<<<<<<< HEAD
        
=======
        <br> <br>
        <br> <br>
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f
        
         <img src ="@/assets/logo.png" id="logo"> 
        

         <div id="login"><input type="text" placeholder="Login" id="logincampo" v-model="email">
<<<<<<< HEAD
                 
                 
                  <div id="senha"><input type="password" placeholder=" Senha" id="senhacampo" v-model="password">
              
=======
                  <br> <br>
                 
                  <div id="senha"><input type="password" placeholder=" Senha" id="senhacampo" v-model="password">
                   <br> <br>
                   <br> <br>
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f
                  
                  <button id= "linkbotao" type="submit" v-on:click="doLogin()" >Entrar</button>      

                  
                  </div>       
      
      </div>
         </div>
      </div>
    </body>
  </div>
</template>

<script>
<<<<<<< HEAD
 import "@/assets/stylesheets/estilo.css";
=======
 import "@/assets/stylesheets/login.css";
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f

import axios from "axios";

export default {
  name: "Login",
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    doLogin() {
      this.$store.dispatch("postToken", {
        email: this.email,
        password: this.password
      })
      .then(() => this.$router.push('/home'))
      .catch(err => console.log(err));
    }
  }
};
<<<<<<< HEAD
</script>
=======
</script>

>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f
