<template>
    <body>
        <div class="confCotacao">
            <header class="menuSuperior">
                <nav>
                    <div></div>
                </nav>
            </header>

            <div class="englobando">
                <b-nav vertical class="vertical">
                    <b-nav-item>Cadastrar dados</b-nav-item>
                    <b-nav-item>Listar</b-nav-item>
                    <b-nav-item>Categoria</b-nav-item>
                    <b-nav-item>Subcategoria</b-nav-item>
                    <b-nav-item>Classe</b-nav-item>
                    <b-nav-item>Produto</b-nav-item>
                </b-nav>

                <div class="cadastrarTeste">
                        <section id="cadastrosTestes">
                        <h1 class="titulo">TESTES</h1>
                        <nav id="linha"></nav>
                        <p class="dadosMsg">Testando...</p>
                    </section>
                </div>
            </div>      

            <div class="englobaBotao">
                <div class="botoes2">
                    <button class="botConfCot2" type="submit">TESTAR</button>
                </div>
            </div>
        </div>
    </body>
</template>

<script>
import '@/assets/stylesheets/teste.css';

export default {
  name: 'Teste',
};

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>