<<<<<<< HEAD

=======
.menuSuperior {
    background-color: #383a79;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3vw;
}
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f

.cadastroProduto{
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top:5%;
}
  
#cadastrosProdutos{
    margin-block-start: 0;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}
  
#cadastrosProdutos h1{
    margin-block-end: 0;
    font-size: 30pt; 
}

<<<<<<< HEAD
=======
#linha{
    background-color:  #C1BFBF;
    width: 100%;
    height: 0.1vw;
    margin-block-end: 0;
}

>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f
#botaoNovoProduto{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; 
    font-size:18px; 
    font-weight: normal; 
    width: 30vw;
    height: 40px; 
    background-color: #383a79; 
    margin-right: 0%; 
    color: #ffffff; 
} 

#nomeProduto{
    width: 30vw;
    height: 3vw;
    margin-bottom: 6%;
    text-align: center;
    margin-top: 6%;
    font-size: 20px;
}

#nomePrincipio{
    width: 30vw;
    height: 3vw;
    margin-bottom: 6%;
    text-align: center;
    margin-top: 1%;
    font-size: 20px;
}

#dadosProduto{
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    width: 50%;
    display: block;
    margin: 0 auto;
    padding-left:10%;
}

.selecao {
    width:30vw;
    margin-bottom: 6%;
    height: 2vw;
}