@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue/dist/bootstrap-vue.css';

/*Fontes*/
h3{
    font-size: 1.3vw;
    font-family: sans-serif;
    font-weight: lighter;
}
.cadUsuario h4{
    font-family: sans-serif;
    font-size: 1vw;
    margin-block-end: 0;
    padding: 0;
    margin-bottom: 0; 
    padding:0;
}

th, td{
    font-size: 1vw;
}


/*Nav Bar*/
.menuSuperior{
    background-color: #383a79;
    width: 100%;
    height: 3vw;
    margin-bottom: 1%;
}
.menuSuperior1{
    background-color: #383a79;
    width: 100%;
    height: 3vw;
}


/*Corpo*/

body{
    background-repeat: no-repeat top center;
    background-size: cover;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.titulo{
    color: #C1BFBF;
    font-size: 2.5vw;
    font-family: sans-serif;
  font-weight: lighter; 
}

#linha{
    background-color:  #C1BFBF;
    width: 100%;
    height: 0.1vw;
    margin-block-end: 0;
}

.dividir{
    display: flex;
}

#maisEsquerda{
    padding-left: 15%;
}

#esquerdado{
    padding-left: 1%;
}

/*Títulos*/
.estiloPaginas{
    align-items: center;
    justify-content: center;
    width: 100%;
}

#novoTitulo{
    margin-block-start: 0;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1%;
}

/*Página Cadastro de dados (produtos)*/
.cadastrarDado{
    align-items: center;
    justify-content: center;
    width: 100%;
}

#cadastrosDados {
    margin-block-start: 0;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

#cadastrosDados h1 {
    margin-block-end: 0;
    font-size: 30pt;
}

.dadosMsg {
    font-size: 1.5vw;
    margin: 0% !important;
    color: #a4a3a3;
}

.botoes {
    margin-block-start: 0;
    width: 35%;
    margin: 0 auto;
    text-align: center;
}

fieldset, p {
    text-align: center;
}


/*Formulário Usuario*/

#conteudo{
    width: 50%;
    margin: 0 auto;
}

.camposdoform{
    padding-bottom: 5%;
}

.camposdoform2{
    padding-bottom: 1%;
}

#tipo h3{
    margin-bottom: 0.8vw;
}

#fc h3{
    margin-bottom: 0.5vw;
    margin-top:0;
}

#fc{
    margin-bottom: 3%;
}

#dadosCdastrais h3{
    margin-bottom: 2%;

}

#Endereco h3{
    margin-block-end: 2%;
    margin-block-start: 2%;

}

#emailSenha h3{
    margin-block-end: 2%;
    margin-block-start: 2%;

}

#emailSenha{
    margin-block-end: 2%;
    margin-block-start: 1.5%;
}

/*Botão*/

#botaoNovoUsuario{
  width: 100%;
  height:3.5vw;
  font-size:1.5vw;
  background-color: #383a79;
  border:  #7484B7;
  color: white;
  text-align-last: center; 
  text-align: center; 
}
#botaoNovoUsuario:hover{
  background-color:  #7484B7;
  color: white;
}

#btnNovoEnd{
  background-color: #383a79;
  border:  #7484B7;
  color: white;
  font-size: 1vw;
  width: 5%;
  border-radius: 40%;
  padding-top: 0.01%;
  padding-bottom: 0.01%;
  margin-left: 0.5%;
  
}

#btnNovoEnd:hover {
  background-color:  #7484B7;
  color: white;
  
}

/*pagina confirmacao cotacao*/

.confsolicitacao{
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top:5%;
}

#confirmacoes{
    margin-block-start: 0;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

#confirmacoes h1{
    margin-block-end: 0;
    font-size: 30pt;
}

.botConfCot{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; 
    font-size: 15pt; 
    font-weight: normal; 
    width: 300px;
    height: 40px; 
    background-color: #383a79; 
    margin-right: 5%; 
    margin-top:5%;
    color: #ffffff; 
    text-align: center;
}

.tabela2{
    align-items: center;
    justify-content: center;
    padding-left: 630px;
    padding-right: 630px;
    padding-top:60px;
    font-size: 20px;
}

.botoes {
    margin-block-start: 0;
    width: 35%;
    margin: 0 auto;
    text-align: center;
}

.centro {
    text-align: center;
}

.mensagem {
    font-size: 18px;
    margin-top:2%;
    color: #C1BFBF;
}

/*cotar solicitacao*/
.cotarsolicitacao{
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top:5%;
}

#cotacoesolicitadas{
    margin-block-start: 0;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

#cotacoesolicitadas h1{
    margin-block-end: 0;
    font-size: 30pt;
}

.botConfCot{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; 
    font-size: 15pt; 
    font-weight: normal; 
    width: 300px;
    height: 40px; 
    background-color: #383a79; 
    margin-right: 5%; 
    margin-top:5%;
    color: #ffffff; 
    text-align: center;
}

.tabela1{
    align-items: center;
    justify-content: center;
    padding-left: 320px;
    padding-right: 320px;
    padding-top:60px;
    font-size: 16px;
    margin-bottom:5%;
}

.botoes {
    margin-block-start: 0;
    width: 35%;
    margin: 0 auto;
    text-align: center;
}

#valorTotal {
    margin-block-start: 0;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

#valorTotal h2 {
    margin-block-end: 0;
    font-size: 16pt;
    margin-bottom: 1%;
}

#valorTotal p {
    margin-block-end: 0;
    font-size: 14pt;
    margin-top: 1%;
    color: #C1BFBF;
}

.centro {
    text-align: center;
}

.mensagem {
    font-size: 18px;
    margin-top:2%;
    color: #C1BFBF;
}

#alinhamentoP {
    line-height: 60px;
}

#alinhamentoQ {
    line-height: 30px;
}

#alinhamentoN {
    line-height: 30px;
}

#alinhamentoQD {
    line-height: 30px;
}

#alinhamentoV {
    line-height: 60px;
}

#alinhamentoVT {
    line-height: 30px;
}

#alinhamentoO {
    line-height: 60px;
}

.qntDisponivel::-webkit-input-placeholder { /* Chrome, Safari, Opera */
    color: #C1BFBF; 
}
.qntDisponivel::-moz-placeholder {  /* Firefox 19+ */
    color: #C1BFBF;
}

.valorUnitario::-webkit-input-placeholder { /* Chrome, Safari, Opera */
    color: #C1BFBF; 
}
.valorUnitario::-moz-placeholder {  /* Firefox 19+ */
    color: #C1BFBF;
}

/*pagina home*/
.envolveTopo {
    padding:2.2%;
    width: 85%;
    margin-left:15%;
    background-color: #d6d6d6;
}

.envolveBaixo {
    padding:2.2%;
    width: 85%;
    margin-left:15%;
    background-color: #d6d6d6;
}

.jumbotron {
    background-color: #c2c4c5;
    margin-left:15%;
    margin-bottom:0;
    border-radius: 0;
    padding: 0;
    padding-bottom: 1%;
}

.jumbotron h2 {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
}

.jumbotron h3 {
    color: #ededed;
    text-align: center;
    font-size: 40px;
}

.jumbotron h4 {
    color: #ededed;
    text-align: center;
    font-size: 30px;
}

.jumbotron p {
    color: #f2f2f4;
    text-align: center;
    font-size: 25px;
}

.my-4 {
    background-color: #d6d6d6;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.botoes {
    margin-block-start: 0;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.acoes {
    width:40vw;
    height: 50px;
    font-size: 20px;
    margin-top: 3%;
    font-size: 25px;
    background-color: #383a79; 
    color: white;
}
#imagem{
    width: auto;
    text-align: center;
    max-width:250px;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 37.9%;
    height: 59.2%;
}

/*selecionar fornecedor*/
.selfornecedor{
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top:5%;
}

#fornecedores{
    margin-block-start: 0;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

#fornecedores h1{
    margin-block-end: 0;
    font-size: 30pt;
}

.botConfCot{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; 
    font-size: 15pt; 
    font-weight: normal; 
    width: 300px;
    height: 40px; 
    background-color: #383a79; 
    margin-right: 5%; 
    margin-top:5%;
    color: #ffffff; 
    text-align: center;
}

.tabelaCSC{
    align-items: center;
    justify-content: center;
    width: 90%;
    padding-left: 10%;
    padding-top: 2%;

}

.tabelaCSC th{
    text-align: center;
}

.tabelaCSC td{
    border: 1px solid #dee2e6;
}
.tabelaCSC button{
    background-color: #383a79;
    text-align: center; 
    color: white;
    border: #7484B7;
}

.table table-hover td{
    text-align: left;
}

#editar{
    width: 5%;
    
}


.botoes {
    margin-block-start: 0;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.check {
    margin-right:12px;
}

.centro {
    text-align: center;
}

.mensagem {
    font-size: 18px;
    margin-top:2%;
    color: #C1BFBF;
}

.tabelaProduto{
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 2%;
}

.tabelaProduto th{
    text-align: center;
}

.tabelaProduto td{
    border: 1px solid #dee2e6;
}
.tabelaProduto button{
    background-color: #383a79;
    text-align: center; 
    color: white;
    border: #7484B7;
}

.table table-hover td{
    text-align: left;
}

#tdBotao{
    padding-left: 0;
    padding-right: 0;
}

#tdBotao button{
    width: 100%;
}

/*Login*/

#loginBackground{
    padding-top: 0% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-right: 0% !important;
    height: 49vw;
     width: 72vw;

}

#logo{
    width: 82%;
    height: 60%;
    padding-top: 3% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-right: 0% !important;
}

#campos{
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 0% !important;
    padding-right: 0% !important;
    padding-top: 0% !important;
    margin-right: 0% !important;
    margin-left: 5%;
    width: 100% !important;
    
}

#linkbotao {    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; 
    font-size: 9pt; 
    font-weight: normal; 
    width: 253px;
    height: 40px; 
    background-color: #383a79; 
    color: #ffffff; 
    text-decoration: white; 
    border-radius: 10px;
 } 



#logincampo {
    border-color: #dcdcdd;
    opacity: 0.75;
    width: 250px;
    height: 30px;  
    border-radius: 5px;
}
/* Campo senha */
#senhacampo {
    border-color: #dcdcdd;
    opacity: 0.75;
    width: 250px;
    height: 30px;  
    border-radius: 5px;
}

#camposlogin {
    display: flex;

}

#login {
    transform: translateY(50%);
    border-radius: 20px;

}