@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue/dist/bootstrap-vue.css';

<<<<<<< HEAD
=======
.menuSuperior {
    background-color: #383a79;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3vw;
}

>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f
.listsolicitacao{
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top:5%;
}

#solicitacoes{
    margin-block-start: 0;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

#solicitacoes h1{
    margin-block-end: 0;
    font-size: 30pt;
}

<<<<<<< HEAD
=======
#linha{
    background-color:  #C1BFBF;
    width: 100%;
    height: 0.1vw;
    margin-block-end: 0;
}

>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f
.botConfCot{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; 
    font-size: 15pt; 
    font-weight: normal; 
    width: 300px;
    height: 40px; 
    background-color: #383a79; 
    margin-right: 5%; 
    margin-top:5%;
    color: #ffffff; 
    text-align: center;
}

.tabela3{
    align-items: center;
    justify-content: center;
    padding-left: 580px;
    padding-right: 580px;
    padding-top:60px;
    font-size: 20px;
}

.botoes {
    margin-block-start: 0;
    width: 35%;
    margin: 0 auto;
    text-align: center;
}

.botaoDetalhes {
    width: 100px;
    margin-top: 2%;
}

.cardDetalhes {
    width: 150px;
    font-size: 15px;
    align-items: center;
    padding-bottom: 2px;
}

.centro {
    text-align: center;
}

#alinhamentoS {
    line-height: 60px;
}

#alinhamentoData {
    line-height: 60px;
}

.mensagem {
    font-size: 18px;
    margin-top:2%;
    color: #C1BFBF;
}