<<<<<<< HEAD
=======
.menuSuperior {
    background-color: #383a79;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3vw;
}
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f

.mapaComparativo{
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top:5%;
}
    
#mapasComparativos{
    margin-block-start: 0;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}
    
#mapasComparativos h1{
    margin-block-end: 0;
    font-size: 30pt; 
}
<<<<<<< HEAD
=======
    
#linha{
    background-color:  #C1BFBF;
    width: 100%;
    height: 0.1vw;
    margin-block-end: 0;
}

>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f
.tabelaMP{
    margin-top:2%;
    width:500px;
    font-size: 22px;
}

.tabelaMenorPreco{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tabelasFornecedores{
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.tabela5{
    margin-top:2%;
    padding-left: 10px;
    width: 500px;
    font-size: 20px;
}

.botoes {
    margin-block-start: 0;
    width: 35%;
    margin: 0 auto;
    text-align: center;
}

.botConfCot{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; 
    font-size: 18pt; 
    font-weight: normal; 
    width: 300px;
    height: 50px; 
    background-color: #383a79; 
    margin-right: 5%; 
    margin-top:5%;
    color: #ffffff; 
    text-align: center;
}

#trmenorpreco{
    background-color: #a6a5a5;
    color: #ffffff;
}

#trfornecedor {
    background-color: #c5c4c4;
    color: #ffffff;
}

#tbprodqnt{
    background-color: #d3d2d5;
    color: #ffffff;
}