@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue/dist/bootstrap-vue.css';

.solicitaCota h1{
    color: #C1BFBF;
    font-size: 2.5vw;
    font-family: sans-serif;
    font-weight: lighter; 
}
  
.solicitaCota h3{
    font-size: 1.3vw;
    font-family: sans-serif;
    font-weight: lighter;
}
.solicitaCota h4{
    font-family: sans-serif;
    font-size: 1vw;
    margin-block-end: 0;
    padding: 0;
    margin-bottom: 0; 
    padding:0;
}

.selecionarCat {
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
}

.custom-select{
    width: 100%;
    border-radius: 0;
}

.selecionarCat option{
    height: 6%;
}

.tabelaCota{
    text-align: center;
    margin-top: 4%;
}

.tabelaCota input{
    border: none;
}
