<<<<<<< HEAD

=======
.menuSuperior {
    background-color: #383a79;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3vw;
}
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f

.vertical{
    background: #bdbdbd;
    color: #ffffff;
    font-size: 30px;
    width:18%;
    padding-bottom: 28.2%;
    margin-top:3%;
}

a {
    text-decoration: none;
    color:white;
    margin-top: 10%;
}

.cadastrarTeste{
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top:5%;
}

#cadastrosTestes {
    margin-block-start: 0;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

#cadastrosTestes h1 {
    margin-block-end: 0;
    font-size: 30pt;
}

<<<<<<< HEAD
.dadosMsg {
=======
#linha{
    background-color:  #C1BFBF;
    width: 100%;
    height: 0.1vw;
    margin-block-end: 0;
}

.dadosMsg {
    font-size: 28px;
    margin-top:10%;
>>>>>>> 91a2b01316bf9f5a5576c169895df209a097810f
    color: #a4a3a3;
}

.englobando {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.botConfCot2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; 
    font-size: 18pt; 
    font-weight: normal; 
    width: 300px;
    height: 50px; 
    background-color: #383a79; 
    color: #ffffff; 
    text-align: center;
}

.englobaBotao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -36%;
    margin-left: 15%;
}